{% extends "base.html" %}

<head>
  <title>{% block title %} Leaderboard {% endblock %}</title>

</head>

<body>
  {% block content %}
<div id="container">
  <div class="row col-md-12">
    <div class="name">Player1</div><div class="score">430</div>
  </div>

  <div class="row col-md-12">
    <div class="name">Player2</div><div class="score">580</div>
  </div>

  <div class="row col-md-12">
    <div class="name">Player3</div><div class="score">310</div>
  </div>

  <div class="row col-md-12">
    <div class="name">Player4</div><div class="score">640</div>
  </div>

  <div class="row col-md-12">
    <div class="name">Player5</div><div class="score">495</div>
  </div>
</div>
    {% endblock %}
</body>

</html>
